/*******************************
            GLOBALS
*******************************/
body {
    margin: 0;
    width: 100%;
    height: 1000px;
    padding: 20px;
}

.pointer {
    cursor: pointer;
}

:focus {
    outline: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*******************************
          FLEX BLOCKS
*******************************/
section {
    margin: 0 !important;
    padding: 0 !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
}
section > div {
    background-color: #003972;
    margin: 0 !important;
}

.block1 {
    height: 75px;
    border-right: 1px solid white;
    border-bottom: 1px solid black;
}
.block2 {
    height: 75px;
    width: 200px;
    border-bottom: 1px solid black;
}
.block3 {
    height: 600px;
    border-right: 1px solid white;
}
.block4 {
    height: 600px;
    width: 200px;
}



/*******************************
            CARDBACK
*******************************/
.cardback-choice-title {
    width: 80%;
    border: 2px solid #ADC9DC;
    border-bottom: none;
    text-align: left;
    padding: 2px 25px;
    font-size: 18px;
}

.cardback-choice-container {
    width: 80%;
    height: 100%;
    border: 2px solid #ADC9DC;
    border-top: none;
    text-align: center;
    padding: 10px 25px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.cardback-choice-container p {
    margin: 0;
}

.cardback {
    width: 75px;
    height: 100px;
    display: inline-block;
    padding: 15px;
}

.cardback img {
    width: 35px;
}

.cardback .cardback-name {
    font-size: 12px;
    white-space: pre-wrap;
}

/*******************************
          OPENED CARDS
*******************************/

.card-display-container {
    white-space: nowrap;
    text-align: center;
    display: flex;
}

.card-display-container .card {
    vertical-align: middle;
    padding: 0 3px;
    margin: 0;
}

.card img {
    max-width: 100%;
}

.card-display-container .card-back {
    cursor: pointer;
}

.flip {
    -webkit-perspective: 800px;
    position: relative;
}

.flip .card.flipped {
    -webkit-transform: rotateY(-180deg);
}

.flip .card {
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.75s;
}

.flip .card .face {
    -webkit-backface-visibility: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.flip .card .back {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    background: url("http://wow.zamimg.com/images/hearthstone/backs/original/Card_Back_Pandaria.png");
    border: none;
    outline: none;
}

.flip .card .front {
    -webkit-transform: rotateY(180deg);
    cursor: pointer;
    border: none;
    outline: none;
}

/*******************************
          CARDS OWNED
*******************************/
.card-owned-container {
    position: fixed;
    right: 0;
    top: 0;
    width: 10%;
    height: 100%;
    border: 2px solid #ADC9DC;
    border-bottom: none;
    text-align: left;
    padding: 2px 25px;
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
}

.card-owned-container .card {
    width: 75px;
    height: 15px;
    border: 2px solid #0F0F0F;
    text-align: center;
    bottom: 0;
    float: left;
    display: block;
    position: relative;
    padding: 25px;
    margin: 0 5px 0 0;
}

.card-owned-container .card img {
    height: 100%;
}

/*******************************
         DROPDOWN MENUS
*******************************/

.header {
    display: flex;
}

.btn-group {
    display: flex;
}

#loadbtn {
    z-index: 5;
    left: 0;
    bottom: 0;
}

.dropdown-menu {
    border: none;
    padding: 3px 0 0 0 ;
    margin: 0;
}

.dropdown-menu > li > a {
    padding: 0;
}

.dropdown-menu > li > a:hover {
    background: #c0c0c0;
}

.card-back-list {
    display: inline-block;
}

.card-back-container {
    width: 60%;
}

.card-back-img {
    border: none;
    padding: 3px ;
    margin: 0;
    width: 125px;
}

.caption {
    text-align: center;
    display: block;
}

.card-pack {
    border: none;
    padding: 3px ;
    margin: 0;
    width: 150px;
}

.btn-append-to-body:hover>.uib-dropdown-menu {
    display: block;
}


/*******************************
            SLIDERS
*******************************/

.slider input[type="number"] {
    text-align: center;
    padding-left: 10px;
}

#common-slider .md-track-fill{
    border-color: gray;
    background-color: gray;
}
#common-slider .md-thumb::after{
    border-color: black;
    background-color: black;
}
#common-slider .md-focus-ring{
    background-color: gray;
}

#rare-slider .md-track-fill{
    border-color: blue;
    background-color: blue;
}
#rare-slider .md-thumb::after{
    border-color: black;
    background-color: blue;
}
#rare-slider .md-focus-ring{
    background-color: blue;
}

#epic-slider .md-track-fill {
    border-color: purple;
    background-color: purple;
}
#epic-slider .md-thumb::after{
    border-color: black;
    background-color: purple;
}
#epic-slider .md-focus-ring{
    background-color: purple;
}

#legendary-slider .md-track-fill{
    border-color: orange;
    background-color: orange;
}
#legendary-slider .md-thumb::after{
    border-color: black;
    background-color: orange;
}
#legendary-slider .md-focus-ring{
    background-color: orange;
}



